body {
	background-color: hsl(0, 0%, 0%);
}

.heart {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: hsl(0, 100%, 50%);
	width: 50px;
	height: 50px;
	transform: rotate(-45deg);
	animation-name: beat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.heart::after {
	background-color: hsl(0, 100%, 50%);
	content: '';
	position: absolute;
	top: 0px;
	left: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.heart::before {
	content: '';
	background-color: hsl(0, 100%, 50%);
	position: absolute;
	top: -25px;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

@keyframes beat {
	0% {
		transform: scale(1) rotate(-45deg);
	}
	50% {
		transform: scale(0.6) rotate(-45deg);
	}
}
